
@using TesteMeta2.Core
@{
    ViewBag.Title = "CrudLista";
    Tabela tabela = (Tabela)ViewBag.Tabela;
    List<Registro> Registros = (List<Registro>)ViewBag.Dados;
}

<table class="table table-striped">
    <thead class="thead-dark">
        @{
            List<Coluna> colunas = tabela.Colunas.Where(ee => ee.Visivel || ee.PrimaryKey).OrderBy(ee => ee.Ordem).ToList();
        }
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (Registro registro in Registros)
                {
                    int posicao = 0;
                    <Table>
                        @foreach (Coluna coluna in colunas)
                        {
                           if (coluna.Visivel)
                            {
                                String texto = registro.Dados[posicao];
                                <tr>
                                    <td>@coluna.Titulo</td>
                                    <td>
                                        <strong>
                                            @if (coluna.TipoDado.Nome.StartsWith("Imagem"))
                                            {
                                                <img src="@texto" height="30" width="30" />
                                            }
                                            else
                                            {
                                                @texto
                                            }
                                        </strong>
                                    </td>
                                    @{posicao++;
                                    }
                                </tr>
                            }
                        }
                    </Table>
                    int idos = 0;
                    foreach (Acao acao in tabela.Acoes.Where(ee => ee.AcaoNoRegistro))
                    {
                        <a href="@Url.Action(acao.Nome, "Crud", new { id = registro.codigo })" title="@acao.Titulo">
                            <img src="../../../@acao.UrlImagem" />
                        </a>
                        idos++;
                    }
                    if (idos > 0)
                    {
                        <br />}
                    <br />
                }
            </td>

        </tr>
    </tbody>

</table>

